## Mapping Live Road Closures

You may need to uncomment and run the below cell to allow the map widget at the end of this notebook to generate.

In [1]:
# jupyter nbextension enable --py gmaps
# jupyter nbextension enable --py widgetsnbextension

In [2]:
import pandas as pd
import json, requests

In [3]:
json_file = open('creds/google-creds.json')
json_str = json_file.read()
json_data = json.loads(json_str)

In [4]:
import gmaps
import gmaps.datasets

gmaps.configure(api_key=json_data['GOOGLE_API_KEY']) # Fill in with your API key

In [5]:
here = pd.read_csv('live_here_locations.csv')
here.drop(columns='Unnamed: 0', inplace=True)

In [6]:
here.head()

,Closed Roads,Closure Details,Closure Type,Latitude,Longitude
0,Santa Ana Fwy,Ramp closed to Florence Ave/Exit 123,due to roadwork.,33.936220,-118.094810
1,2nd Pl,Closed between S Hope St and W 2nd St,due to roadwork.,34.054907,-118.251555
2,Sunset Pl,Closed between Wilshire Pl and Hoover St,due to roadwork.,34.060750,-118.287820
3,Empire Ave,Closed between Victory Pl and Wilson Ave,due to roadwork.,34.192080,-118.329290
4,Fairway Dr,Closed at Walnut Dr N,due to roadwork.,33.999664,-117.871428

In [7]:
here_coords = here[['Latitude', 'Longitude']]

In [8]:
here_layer = gmaps.symbol_layer(
    here_coords, fill_color='red', stroke_color='red', scale=2
)

In [9]:
tweepy = pd.read_csv('tweepy.csv')

In [10]:
tweepy.drop(columns='Unnamed: 0', inplace=True)

In [11]:
tweepy.head()

,Full Text,Author,Coordinates,Hashtags,Creation Time
0,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]",['Arcadia'],2019-07-29 16:23:49
1,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]","['Arcadia', 'LAtraffic']",2019-07-29 16:12:13
2,A motorcycle crash was moved to the right shou...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 15:19:49
3,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 14:53:08
4,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97577, -118.3852]","['CulverCity', 'LAtraffic']",2019-07-29 14:43:22

In [12]:
tweepy_split = tweepy['Coordinates'].str.split(",", n=1, expand=True)
tweepy['Latitude']= tweepy_split[0]
tweepy['Longitude'] = tweepy_split[1]

In [13]:
tweepy['Latitude'] = tweepy['Latitude'].str.strip('[').astype(float)

In [14]:
tweepy['Longitude'] = tweepy['Longitude'].str.strip(']').astype(float)

In [15]:
tweepy.head()

,Full Text,Author,Coordinates,Hashtags,Creation Time,Latitude,Longitude
0,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]",['Arcadia'],2019-07-29 16:23:49,34.14892,-118.0632
1,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]","['Arcadia', 'LAtraffic']",2019-07-29 16:12:13,34.14892,-118.0632
2,A motorcycle crash was moved to the right shou...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 15:19:49,33.97027,-118.3747
3,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 14:53:08,33.97027,-118.3747
4,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97577, -118.3852]","['CulverCity', 'LAtraffic']",2019-07-29 14:43:22,33.97577,-118.3852

In [16]:
# malibu_coordinates = (34.33, -118.51)
# gmaps.figure(center=malibu_coordinates, zoom_level=12)

In [17]:
tweepy_coords = tweepy[['Latitude', 'Longitude']]

In [18]:
tweepy_coords.dtypes

Latitude     float64
Longitude    float64
dtype: object

In [19]:
tweepy_layer = gmaps.symbol_layer(
    tweepy_coords, fill_color='blue', stroke_color='blue', scale=2
)
fig = gmaps.figure()
fig.add_layer(tweepy_layer)
fig.add_layer(here_layer)
fig

Figure(layout=FigureLayout(height='420px'))