In [1]:
# jupyter nbextension enable --py gmaps
# jupyter nbextension enable --py widgetsnbextension

In [2]:
import pandas as pd
import json, requests

In [3]:
json_file = open('google-creds.json')
json_str = json_file.read()
json_data = json.loads(json_str)

In [6]:
import gmaps
import gmaps.datasets

gmaps.configure(api_key=json_data['GOOGLE_API_KEY']) # Fill in with your API key

In [7]:
gmaps.figure()

Figure(layout=FigureLayout(height='420px'))

In [8]:
here = pd.read_csv('live_here_locations.csv')
here.head()

   Unnamed: 0  LATITUDE  LONGITUDE start_end  incident
0           0  34.05869 -118.41584     start         0
1           1  34.04012 -118.57928     start         1
2           2  34.06034 -118.41357     start         2
3           3  34.07898 -118.75556     start         3
4           4  34.33766 -118.51440     start         4

In [9]:
here.drop(columns='Unnamed: 0', inplace=True)

In [10]:
here_coords = here[['LATITUDE', 'LONGITUDE']]

In [11]:
tweepy = pd.read_csv('../tweepy.csv')

In [12]:
tweepy.drop(columns='Unnamed: 0', inplace=True)

In [13]:
tweepy.head()

,Full Text,Author,Coordinates,Hashtags,Creation Time
0,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]",['Arcadia'],2019-07-29 16:23:49
1,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]","['Arcadia', 'LAtraffic']",2019-07-29 16:12:13
2,A motorcycle crash was moved to the right shou...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 15:19:49
3,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 14:53:08
4,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97577, -118.3852]","['CulverCity', 'LAtraffic']",2019-07-29 14:43:22

In [14]:
tweepy_split = tweepy['Coordinates'].str.split(",", n=1, expand=True)
tweepy_split.head()

           0            1
0  [34.14892   -118.0632]
1  [34.14892   -118.0632]
2  [33.97027   -118.3747]
3  [33.97027   -118.3747]
4  [33.97577   -118.3852]

In [15]:
tweepy['latitude']= tweepy_split[0]
tweepy['longitude'] = tweepy_split[1]
tweepy.head()

,Full Text,Author,Coordinates,Hashtags,Creation Time,latitude,longitude
0,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]",['Arcadia'],2019-07-29 16:23:49,[34.14892,-118.0632]
1,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]","['Arcadia', 'LAtraffic']",2019-07-29 16:12:13,[34.14892,-118.0632]
2,A motorcycle crash was moved to the right shou...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 15:19:49,[33.97027,-118.3747]
3,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 14:53:08,[33.97027,-118.3747]
4,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97577, -118.3852]","['CulverCity', 'LAtraffic']",2019-07-29 14:43:22,[33.97577,-118.3852]

In [16]:
tweepy['latitude'] = tweepy['latitude'].str.strip('[').astype(float)

In [17]:
tweepy['longitude'] = tweepy['longitude'].str.strip(']').astype(float)

In [18]:
tweepy.head()

,Full Text,Author,Coordinates,Hashtags,Creation Time,latitude,longitude
0,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]",['Arcadia'],2019-07-29 16:23:49,34.14892,-118.0632
1,A crash is blocking the carpool lane. in #Arca...,TotalTrafficLA,"[34.14892, -118.0632]","['Arcadia', 'LAtraffic']",2019-07-29 16:12:13,34.14892,-118.0632
2,A motorcycle crash was moved to the right shou...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 15:19:49,33.97027,-118.3747
3,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97027, -118.3747]",['Westchester'],2019-07-29 14:53:08,33.97027,-118.3747
4,A motorcycle crash is blocking the left lane. ...,TotalTrafficLA,"[33.97577, -118.3852]","['CulverCity', 'LAtraffic']",2019-07-29 14:43:22,33.97577,-118.3852

In [19]:
malibu_coordinates = (34.33, -118.51)
gmaps.figure(center=malibu_coordinates, zoom_level=12)

Figure(layout=FigureLayout(height='420px'))

In [20]:
tweepy_coords = tweepy[['latitude', 'longitude']]

In [21]:
tweepy_coords.dtypes

latitude     float64
longitude    float64
dtype: object

In [22]:

tweepy_layer = gmaps.symbol_layer(
    tweepy_coords, fill_color='red', stroke_color='red', scale=2
)
fig = gmaps.figure()
fig.add_layer(tweepy_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
here_layer = gmaps.symbol_layer(
    here_coords, fill_color='red', stroke_color='red', scale=2
)
fig = gmaps.figure()
fig.add_layer(here_layer)
fig

Figure(layout=FigureLayout(height='420px'))